body {
	text-align:center;
	padding-top:20px;
    background-image:url("g4.jpg");
	
}
.uiui {
	text-align:center;
}
.register {
	width:19%;
	
	font-size:15px;
	padding:14px;
	background-color:white;
	text-align:center;
	border:2px solid blue;
	opacity:0.8;
	
}
.kk {
	padding-right:25px;
}
.group {
	padding:15px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition : all 0.5s ease-in-out;
	-webkit-border-radius:5px 5px 5px 5px;
}

.hr {
	color:green;
	border :0px solid green;
	
}


.ee {
	padding-top : 20px;
	text-align : center;
	font-family:sans-serif;
}
.gg {
	color:green;
	text-align:center;
}
input[type = "text"] {
	margin:1px solid green;
	width:50%;
	height:10%;
	text-align:center;
	
	
	display:inline-block;
	font-size:18px;
	border:2px solid #f6f6f6;
	
	border-radius:5px 5px 5px 5px;
	background-color:#f6f6f6;
	
	