body {
	
	text-align:center;
	padding-top:70px;

	background-color : "";

}
*/* {
	background-image:url("li1.jpg");
}*/
.loginpage {
	border :
	
	padding :15px;
	background-color: 
	animation-name:example;
	animation-duration:20s;
	text-align:center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition : all 0.5s ease-in-out;
	-webkit-border-radius:5px 5px 5px 5px;
	
}

 .mess {
	 padding-top;
	
	 
	 
	 
	 
 }

.group {
	padding:15px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition : all 0.5s ease-in-out;
	-webkit-border-radius:5px 5px 5px 5px;
	
}
input[type = "text"] {
	margin:1px solid green;
	width:50%;
	height:10%;
	text-align:center;
	
	display:inline-block;
	font-size:18px;
	border:2px solid blue;
	
	border-radius:5px 5px 5px 5px;
	background-color:#f6f6f6;
	
	
}
input[type = "password"] {
    margin:1px solid green;
	width:50%;
	height:10%;
	text-align:center;
	
	display:inline-block;
	font-size:18px;
	border:2px solid blue;
	
	border-radius:5px 5px 5px 5px;
	background-color:#f6f6f6;
	
	






}

.register {
	width:19%;
	
	font-size:15px;
	padding:14px;
	background-color:white;
	text-align:center;
	border:2px solid blue;
	opacity:0.8;
	

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition : all 0.5s ease-in-out;
	-webkit-border-radius:5px 5px 5px 5px; 
}
input[type = "date"] {
	margin:1px solid green;
	width:50%;
	height:10%;
	text-align:center;
	
	display:inline-block;
	font-size:18px;
	border:2px solid blue;
	
	border-radius:5px 5px 5px 5px;
	background-color:#f6f6f6;
	
	

}
/*@keyframes example {

	from {background-color:white;}
	to {background-color: #53e3a6 ;}
} */

